<!doctype html>
<html>
	<head>
		<title>Lucky Picker</title>
		<meta name="description" content="This is a webpage for randomly choosing lotto numbers. A luckypick of all lotto numbers with respect to its variant.">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #e5e5e5;
				font-family: 'Roboto', sans-serif;
			}
			
			#wrapper {
				width: 800px;
				margin: 120px auto;
			}
			
			#container {
				font-size: 100px;
			}
		</style>
	</head>
	
	<body>
		<div id="wrapper" ng-app="lottoApp" ng-controller="lottoCtrl">
			<div id="container">{{l_numbers}}</div><br />
			
			Pick lotto variant: <select name="l_variant" ng-model="l_variant" ng-change="pick()">
									<option value=""></option>	
									<option value="42">42</option>
									<option value="45">45</option>
									<option value="49">49</option>
									<option value="55">55</option>
									<option value="58">58</option>
								</select>
			
			<button ng-disabled="b_disable" ng-click="pick()">Pick again</button>
		</div>
		
		<script src="http://localhost/lotto.js"></script>
	</body>
</html>